name: Terraform Plan

on:
  pull_request:
  workflow_dispatch:
    inputs:
      request_id:
        description: "Request ID (optional)"
        required: false
        type: string
      environment:
        description: "Environment (dev or prod)"
        required: false
        default: dev
        type: choice
        options:
          - dev
          - prod

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT: ${{ inputs.environment || 'dev' }}
    defaults:
      run:
        working-directory: envs/${{ env.ENVIRONMENT }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::420259807324:role/tfplan-connector
          aws-region: eu-west-2
          role-session-name: tfplan-plan

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Plan
        run: terraform plan -input=false -no-color | tee plan.out

      - name: Upload plan summary
        if: always()
        run: cat plan.out
